<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ProgrammListFilePath" value=""/>
    <add key="IpV4Filter1" value="10"/>
    <add key="IpV4Filter2" value="10"/>
    <add key="IpV4Filter3" value="10"/>
    <add key="IpV4Filter4" value="10"/>
  </appSettings>
 
</configuration>